<div><hr>PNG</div>
<img src="logo/logo_gt.png" alt="Logo Maxibom" class="img-logo" width="200">
<div><hr>jpeg</div>
<img src="logo/8D7B9801-E18E-407F-8833-DBE8ABED4372_4_5005_c.jpeg" alt="Logo Maxibom" class="img-logo" width="200">
<div><hr>jpeg</div>
<img src="logo/logo_gt.jpeg" alt="Logo Maxibom" class="img-logo" width="200">
<div><hr>PNG</div>
<img src="logo/logo.png" alt="Logo Maxibom" class="img-logo" width="200">
<div><hr>jpeg</div>
<img src="fundo/fundo_roxo.jpeg" alt="Logo Maxibom" class="img-logo" width="200">
<div><hr>jpeg</div>
<img src="fundo/logo_datatech.jpeg" alt="Logo Maxibom" class="img-logo" width="200">
<div><hr>PNG</div>
<img src="fundo/logo_datatech.png" alt="Logo Maxibom" class="img-logo" width="200">