<!-- Botão de Fechar -->
<p style="margin-left: 15px; cursor: pointer;margin-top: 10px;">
    <i class="fa fa-times action-icon pointer" (click)="fechar()"></i>
</p>

<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <!-- Botões de Ação -->
        <div>
            <a class="btn btn-success" (click)="verFormulario()" *ngIf="table">
                <i class="bi-plus-circle bi-3x" style="cursor: pointer;"></i>
                Cadastrar Departamento
            </a>
            <a class="btn btn-warning" (click)="verDepartametos()" *ngIf="!table">
                <i class="bi-table bi-3x" style="cursor: pointer;"></i>
                Ver Departamentos
            </a>
            <a class="btn btn-primary" (click)="pesquisaEmpresasDepartamentos()" style="margin-left: 5px;">
                <i class="bi-arrow-clockwise bi-3x" style="cursor: pointer;"></i>
                Atualizar Dados
            </a>
        </div>

        <!-- Carregando (Loading) -->
        <div *ngIf="loading" class="d-flex align-items-center">
            <span>Carregando...</span>
            <div class="spinner-border spinner-border-sm ms-2" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    </div>

    <div *ngIf="table" class="mt-3">
        <!-- Tabela de Departamentos -->
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">Cód. Departamento/Empresa</th>
                    <th scope="col">Cód. Departamento</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comd of companiesdep">
                    <th scope="row">{{comd.idDepartComp}}</th>
                    <th scope="row">{{comd.departmentId}}</th>
                    <td>{{comd.department?.department}}</td>
                    <td>
                        <i class="bi-people" style="cursor: pointer;" (click)="vincularusuario(comd.idDepartComp)"></i>
                        <!-- <i class="bi-pencil" style="cursor: pointer;margin-left: 5px;" (click)="vincularusuario(comd.departmentId, comd.companieId)"></i> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!table" class="w-50 mt-4">
        <!-- Formulário de Cadastro de Departamento -->
        <h6>Cadastrar Departamento na Empresa</h6>
        <form [formGroup]="form" (ngSubmit)="vincularDepartamento()">
            <div class="mb-3">
                <label for="id" class="form-label">Número Único</label>
                <input type="number" class="form-control" id="id" formControlName="idDepartComp" readonly>
            </div>

            <div class="mb-3">
                <label for="idempresa" class="form-label">Empresa</label>
                <input type="number" class="form-control" id="idempresa" formControlName="companieId" readonly>
            </div>

            <div class="mb-3">
                <label for="selectform" class="form-label">Departamento</label>
                <select id="selectform" class="form-select form-select" aria-label="Small select example" formControlName="departmentId">
                    <option value="" disabled selected>Abra o menu de seleção</option>
                    <option *ngFor="let depart of department" [value]="depart.id">{{ depart.department }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="selectform" class="form-label">Ativo</label>
                <select id="selectform" class="form-select form-select" aria-label="Small select example" formControlName="active">
                    <option value="" disabled selected>Abra o menu de seleção</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>
