<app-head paginaAtiva="home"></app-head>
<a class="btn btn-success mb-1 mt-2" style="margin-left: 10px;" (click)="openDynamicForm()">Nova Empresa</a>

<table class="table table-hover table-responsible">
    <thead>
        <tr>
            <th scope="col">Cód. Empresa</th>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Endereço</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comp of companies">
            <th scope="row">{{comp.id}}</th>
            <td>{{comp.name}}</td>
            <td>{{comp.cnpj}}</td>
            <td>{{comp.adress}}</td>
            <td>{{comp.email}}</td>
            <td>{{comp.telephone}}</td>
            <td>
                <i style="margin-right: 5px;">
                    <i class="bi-building" style="cursor: pointer;" (click)="cadastroDepartamentos(comp.id)"></i>
                </i> 
                <i style="margin-right: 5px;">
                    <i class="fa fa-trash" style="cursor: pointer;" (click)="deleteCompanie(comp.id)"></i>
                </i> 
            </td>
        </tr>
    </tbody>
</table>