<!-- Overlay escuro -->

<div id="emailOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); z-index: 9999; display: flex; justify-content: center; align-items: center;">

  <div
    style="position: relative; background: white; padding: 30px; border-radius: 12px; text-align: center; width: 300px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);">


    <!-- SUCESSO -->
    <div id="status-success" >
      <div style="font-size: 48px; color: green;">
        <i class="fas fa-check-circle"></i>
      </div>
      <p style="margin-top: 30px;">Dados inseridos com sucesso!</p>
    </div>


  </div>
</div>